/* Stylizes the body*/
body{
    background-color:rgb(0, 0, 0);
    text-align: center;
}
/* Styleizes the header*/
h1{
    /*I found this out online, but basically having several text-shadow elements of varying px allows for a sort of gradient glow effect for the letters*/
    font-size: 48px;
            color: #fff;
            text-shadow:
                0 0 5px #0ff,
                0 0 10px #0ff,
                0 0 20px #0ff,
                0 0 40px #0ff,
                0 0 80px #0ff;
            padding: 20px;
}
/* Stylizes all the paragraphs*/
p{
    border-style:outset;
    display: inline-block; /* Wraps the border around the text */
    font-size: 40px;
}
/* Stylizes player 1, but not their result*/
player1{
    color: #fff;
            text-shadow:
                0 0 5px rgb(60, 255, 0),
                0 0 10px rgb(60, 255, 0),
                0 0 20px rgb(60, 255, 0),
                0 0 40px rgb(60, 255, 0),
                0 0 80px rgb(60, 255, 0);
}
/* Stylizes player 2, but not their result*/
player2{
    color: #fff;
            text-shadow:
                0 0 5px rgb(60, 255, 0),
                0 0 10px rgb(60, 255, 0),
                0 0 20px rgb(60, 255, 0),
                0 0 40px rgb(60, 255, 0),
                0 0 80px rgb(60, 255, 0);
    
}
/*Stylizes player 2's result*/
playerresult{
    color: #fff;
            text-shadow:
                0 0 5px rgb(251, 255, 0),
                0 0 10px rgb(251, 255, 0),
                0 0 20px rgb(251, 255, 0),
                0 0 40px rgb(251, 255, 0),
                0 0 80px rgb(251, 255, 0);
}
/*Stylizes the announcement of who won*/
winner{
    color: #fff;
            text-shadow:
                0 0 5px rgb(251, 255, 0),
                0 0 10px rgb(251, 255, 0),
                0 0 20px rgb(251, 255, 0),
                0 0 40px rgb(251, 255, 0),
                0 0 80px rgb(251, 255, 0);
}
/* Just edited the image a little to put it on the right side of the screen without text-align*/
#rpsimage{
    margin-left: 2000px;
}
/* Made the button bigger, more colorful, and glowing*/
button{
    font-size: 48px;
            color: white;
            background-color: black;
            box-shadow: 0 0 5px rgb(251, 255, 0),
            0 0 10px rgb(251, 255, 0),
            0 0 20px rgb(251, 255, 0),
            0 0 40px rgb(251, 255, 0),
            0 0 80px rgb(251, 255, 0);;
            text-shadow:
                0 0 5px rgb(251, 255, 0),
                0 0 10px rgb(251, 255, 0),
                0 0 20px rgb(251, 255, 0),
                0 0 40px rgb(251, 255, 0),
                0 0 80px rgb(251, 255, 0);
            padding: 20px;
}